@import url('form.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, *, h1, h2, h3, a{
  padding: 0;
  margin: 0;
  color:rgba(24, 24, 24, 0.87);
}

.inactive{
  display: none;
}

.active{
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}

button:hover{
  cursor: pointer;
}

svg:hover{
  cursor: pointer;
}

.default{
  color: rgb(86, 179, 155);
  font-size: 2em;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
}

.container{
  padding: 2em;
}

.main-container{
  width: 60%;
  margin: 0 auto;
  padding-top: 1em;
  padding: 0 auto;
}

nav{
  height: 5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  background:#f3f3f3f3;
  border-bottom: 2px solid rgb(59, 133, 114);;
}

ul{
  display: flex;
  flex-direction: row;
  gap: 5em;
  align-items: center;
  position: relative;
  width: 60%;
  margin: 1em auto;
}
.logo{
  margin-right: auto;
  justify-content: center;
}

.links{
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.links a:hover{
  border-bottom: 1px solid rgb(86, 179, 155);
}


.search-bar{
  display: flex;
  flex-direction: row;
  gap: 1em;
  height: 1.5em;
  margin-left: auto;
  margin-right: 2em;
}

.search-bar input{
  background: #f3f3f3;
  border: none;
  border-bottom: 1px solid rgb(86, 179, 155);
}

.subscribe-button{
  background: rgb(86, 179, 155);
  border: none;
  width: 50%;
  padding: 0 1em 0 1em;
  border-radius: 5px;
  color: #fff;
}

.search-sub{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.user-sec *{
  padding-right: 0.5em;
}

.profile-menu *{
  margin: 0 0.8em !important;
}

.profile-menu{
  gap: 0.5em;
  width: 15%;
  position: absolute;
  top: 3em;
  right: 0;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
  border-radius: 5px;
}


.profile-menu ul{
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0 !important;
}

.profile-menu a{
  color: rgb(39, 39, 39);
  font-weight: bold;
  padding: 0.5em 0;
  width: 100%;
  margin: 0 auto;
}


.profile-menu a:hover{
  border-bottom: 1.5px solid rgb(86, 179, 155);
}

.user-icon{
  align-content: center;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 1.2 em;
  border-radius: 50%;
}

.user-name{
  font-size: 1em;
  font-weight: bold;
  padding-top: 0.5em;
}

.user-email{
  font-size: 0.8em;
}


.mid-section{
  margin-top: 5em !important;
  padding-top: 5em;
  margin: 0 auto 4em auto;
  display: flex;
  flex-direction: row;
}


.side{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  gap: 1em;
  margin: 4em auto;
}

.cats{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}

.extra{
  border: 1px solid #474747;
  border-radius: 3px;
  height: 2em;
  width: 30%;
  margin: auto;
}

.body-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  width: 65%;
}

.item-container{
  width: 49%;
  height: 15em;
  position: relative;
  border-radius: 10px;
}

.item-container:hover .item-box{
  filter: blur(5px);
  cursor: pointer;
}

.item-container:hover::after {
  font-size: 1.5em !important;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  }

.item-container:first-of-type{
  width: 90%;
  height: 30em;
  transition: width 1s ease-in-out;
}

.item-container:first-of-type:hover{
  width: 100%;
}

.item-box{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center !important;
  background-size: cover !important;
  margin: 0 auto 0 auto;
  align-items: center;
  filter: blur(0px);
  transition: filter 1s;
}


.article-header{
  display: flex;
  flex-direction: column;
  width: 100%;
  background:rgba(118, 118, 118, 0.703);
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.article-info{
  color: #fff !important;
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  align-items: center;
  margin-right: auto !important;
  padding: 0 0.5em 0.5em 0.5em;
}

.article-info > *, h1{
  color: #fff;
}

.article-title{
  font-size: 1.7em;
  margin-right: auto;
  padding-left: 0.3em;
}

.date{
  margin-left: 1em;
  font-size: 0.7em;
  color:rgb(224, 224, 224)
}

.author{
  font-weight: bold;
}

.category{
  color: rgb(123, 206, 185);
  margin-right: auto;
  padding-left: 0.5em;
  font-size: 0.8em !important;
  background: #4e4e4eac;
  padding: 0.2em 0.5em 0.5em 0.5em;
  font-family: 'Pacifico', cursive;
}

.author-img{
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

.head{
  color:rgb(39, 39, 39) !important;
}

.ckeditor{
  width: 100%;
  margin: 2em 0;
  border: 4px solid rgb(123, 206, 185);
  border-radius: 5px;
  border-bottom: 10px solid rgb(123, 206, 185);

}

footer{
  display: flex;
  flex-direction: column;
  background: #000000;
  text-align: left;
}

footer *{
  color: #fff;
}

.footer-container{
  margin: 1em 8em;
  padding-top: 3em;
}

.top, .bottom{
  display: flex;
  flex-direction: row;
}

.top{
  border-bottom: 1px solid #fff;
  padding-bottom: 2em;
}

.bottom{
  padding: 3em 0;
}

footer p{
  font-weight: 300;
}

footer input{
  background: #fff;
  border: none;
  border-radius: 5px;
  height: 2em;
  font-size: 1em;
  color:rgb(39, 39, 39) !important;
}

.row1, .row2, .row3{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 30%;
  margin: 0 auto;
}

footer form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer textarea{
  font-size: 1em;
  height: 8em;
  background: #fff;
  border: none;
  border-radius: 5px;
  color:rgb(39, 39, 39) !important;
  font-family: sans-serif;
}

footer button{
  height: 2.5em;
  width: 100%;
  border: none;
  border-radius: 5px;
  background:rgb(86, 179, 155);
  font-size: 1em;
  font-weight: bold;
}

.bottom{
  gap: 4em;
}

.socials{
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.socials svg{
  font-size: 2em;
}

.blog-maker-page{
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  height: 80%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 80%;
  margin: 0 auto;
}

.blog-maker-page h1{
  padding-bottom: 1em;
}

.in-text{
  background: none;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 5px;
  height: 2em;
  font-size: 1em;
}

.blog-maker-page label{
  font-weight: bold;
  padding-bottom: 0.3em;
}

.blog-maker-page input{
  width: 100%;
}

.upload-info{
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  padding-top: 1em;
}

.upload-info p{
  width: 15%;
  border-bottom: 1px solid rgb(48, 48, 48);
}

.upload{
  background:rgb(74, 141, 123);
  border: none;
  border-radius: 8px;
  height: 2em;
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;
  height: 3em;
}

.blog-button{
  height: 2.5em;
  width: 10%;
  background:rgb(123, 206, 185);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
}